name: Pack and Publish

on:
  push:
    branches: [ "main" ]

env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  NODE_VERSION: 22.1.0
  DOTNET_VERSION: '8.0.x'

jobs:
  release:
    name: Release latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install .NET dependencies
        run: dotnet restore
        working-directory: src

      - name: Build .NET project
        run: dotnet build --configuration Release --no-restore
        working-directory: src

      - name: List directory contents
        run: ls -al

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install node dependencies
        run: npm install

      - name: Print GITHUB_SHA
        run: echo $GITHUB_SHA

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Publish NuGet package
        run: |
          dotnet nuget push src/Ecart.Core/bin/Release/*.nupkg --source https://nuget.pkg.github.com/vikashchauhan51/index.json --api-key ${{ secrets.GH_TOKEN }}
        working-directory: src
